@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{
   background-image: url(./imagens/5418300.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 60px;   
   font-family: 'Permanent Marker', cursive;
}

@media (max-width:800px){
    header{
        font-size: 30px;
    }
    canvas{
        width: 50%;
        height: 50%;
    }
    
}
    




